.Xil/
project_LIBRARY.gen/
project_LIBRARY.runs/
project_LIBRARY.sim/
project_LIBRARY.cache/
project_LIBRARY.hw/
project_LIBRARY.tmp/
project_LIBRARY.ip_user_files/
*.jou
*.log
*.str
*.rpt
*.rpx
*.dcp
*.vdi
*.bit
*.bin
*.mcs
*.ltx
*.wdb
*.vcd
.DS_Store
Thumbs.db
*.swp
